{% extends "quotes/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h3 class="card-title">Registration</h3>
                </div>
                <div class="card-body d-flex align-items-center justify-content-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.username.id_for_label }}">Username:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group my-3 d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.email.id_for_label }}">Email:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group my-3 d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.password.id_for_label }}">Password:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form-group my-3 d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
                            {{ form.password2 }}
                        </div>
                        <span>{{ form.errors.password2 }}</span>
                        <div class="text-center my-3">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                            <button class="btn btn-secondary" type="reset ">Reset</button>
                        </div>
                        <input type="hidden" name="next" value="{% url 'quotes:index' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}