{% extends "quotes/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-center">
                    <h3 class="card-title">Create Author</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.fullname.id_for_label }}">Full Name:</label>
                            {{ form.fullname }}
                        </div>
                        <div class="form-group d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.born_date.id_for_label }}">Born Date:</label>
                            {{ form.born_date }}
                        </div>
                        <div class="form-group d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.born_location.id_for_label }}">Born Location:</label>
                            {{ form.born_location }}
                        </div>
                        <div class="form-group d-flex flex-column align-items-center justify-content-center">
                            <label for="{{ form.description.id_for_label }}">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="text-center my-3">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}