body {
    margin-bottom: 60px;
}

body {
    font-family: sans-serif;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

a {
    color: #4582ec;
    text-decoration: none;
}

.quote .tags {
    margin-top: 10px;
}

.tags-box {
    text-align: right;
}

.tag-item {
    display: block;
    margin: 4px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

a {
    color: #4582ec;
    text-decoration: none;
}

a {
    background-color: transparent;
}

